@use "variables";

.form--subtitle {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  color: rgba(variables.$gray-dark, 0.7);
  margin-top: .5rem;

  p {
    // font-size: 1rem;
    border: 1px solid rgba(variables.$gray-dark, 0.8);
    color: rgba(variables.$gray-dark, 0.8);
    padding: 0 0.1rem;
    border-radius: 5px;
    width: fit-content;
  }

  span {
    font-size: .8rem;
    border: none;
    align-self: flex-end;
  }
}
